.dongxiao {
  
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;

}

li {
  margin: 0;
  padding: 0;
  width: 140px;
  height: 140px;
  /* height: 120px; */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.active {
  background-image: url(./images/avatars_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

li img {
  width: 80px;
}